#page
{
    padding-top: 60px;
    border: solid 1px #ffe4c4;
    padding-left: 20px;
}
#blockquote
{
    padding: 0px 0px 0px 15px;
    margin: 0px 0px 20px;
    border-left: 10px solid rgb(43, 255, 29);
}
#blockquotei
{
    padding: 0px 0px 0px 15px;
    margin: 0px 0px 20px;
    border-left: 10px solid rgb(47, 150, 180);
}#blockquotep
 {
    padding: 0px 0px 0px 15px;
    margin: 0px 0px 20px;
    border-left: 10px solid rgb(0, 68, 204);
}
#blockquoted {
    padding: 0px 0px 0px 15px;
    margin: 0px 0px 20px;
    border-left: 10px solid rgb(255, 26, 26);
}
#blockquotew
{
    padding: 0px 0px 0px 15px;
    margin: 0px 0px 20px;
    border-left: 10px solid rgb(255, 178, 29);
}
#blockquotede {
    padding: 0px 0px 0px 15px;
    margin: 0px 0px 20px;
    border-left: 10px solid rgba(0, 0, 0, 0.36);
}
#jadval
{
    margin-left: 250px;
}
#yuklash
{
    text-align: right;
    text-decoration: #5f9ea0;
}
div.view3
{
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #C9E0ED;
    width: 370px;
    float: left;
    min-height: 1px;
    margin-left: 20px;
}
div.view2
{
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #C9E0ED;
    width: 370px;
    float: left;
    min-height: 1px;
    margin-left: 20px;
    text-align: center;
    font-weight: bold;
    font-size: 35px;
    text-transform: uppercase;
    text-shadow: 2px 0px 3px rgba(116, 116, 116, 0.72);
    height: auto;
    line-height: 1.3;

}
.tablo >
a:hover, a:focus {
    color: #f5f5f5;
    text-decoration: underline;
}

.tablo >
a {
    color: #fefbff;
    text-decoration: none;
}
div.tablo:hover{
    background-color: rgba(20, 227, 6, 0.64);
}
div.view2:hover{
    box-shadow: 2px 0px 3px #2ee9ff;
}

div.tablo
{
    padding: 5px;
    margin-right: 5px;
    margin-left: 5px;
    margin-top: 5px;
    margin-bottom: 15px;
    width:348px;
    border: 1px dotted #e2e2e2;
    background-color: #14b9ff;
    box-shadow:1px 0px 2px #cecbcf;
    text-align: center;
    color: #f5f5f5;
    text-shadow: 1px 0px 3px #909090;
    text-decoration: #f5f5dc;
    word-spacing: 2.5px;
    font-weight: bold;
    font-size: 28px;
    text-transform: uppercase;

}
